body{
    background-color: #bfa7ff;
    font-size: 16px;
    margin: 0;
}

h1,h2,h3{
    color: #800080;
}

header{
    padding: 20px 18px;
    background-color: #d3d3d3;

}

header a {
    padding:12px;
    background-color: #8a2fee;
    color: white;

    text-decoration: none;
    border-radius: 8px;

    transition: 0.3s;
}

header a:hover {
    background-color: #646464;
}
    
